@import url('https://fonts.googleapis.com/css2?family=VT323');
@import url('https://fonts.googleapis.com/css2?family=Inria+Serif');
@import url('https://fonts.googleapis.com/css2?family=Iosevka+Charon+Mono:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
img{
  width: 100%;
}
body{
  background-color: rgb(25 24 39);
  font-family: "Iosevka Charon Mono", 'Courier New', Courier, monospace;
  font-weight: 300;
  font-style: normal;
  margin: 0;
  padding: 0;
}

header {
    width: 100%;
    height: 180px;
    background: linear-gradient(to bottom, rgba(56, 90, 202, 0.63), rgba(62, 44, 233, 0.315)), url('images/darklightcrop.jpg') center/cover no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
}

.header-title {
  background-color: rgba(17, 97, 245, 0.342);
  margin-top: 20px;
  backdrop-filter: blur(5px);
  padding: 15px 35px;
  border-radius: 5px;
  color: #8fa1b8;
  font-size: 2.2rem;
  font-style: italic;
  font-family: 'Times New Roman', Times, serif;
  letter-spacing: 10px;
  text-shadow: 1px 1px 3px rgba(127, 110, 228, 0.76);
}

.profile-box {
  background-color: #2b2b45;
  padding: 20px;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  min-width: 180px;
}

.profile-img {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #8292c0;
  margin-bottom: 12px;
  filter: grayscale(100%);
}

.profile-name {
  font-weight: bold;
  font-size: 0.95rem;
  margin-bottom: 4px;
  color: #bdcdce;
}

.profile-quote {
  font-size: 0.85rem;
  color: #a0a0b0;
}

.intro-text {
  font-size: 0.85rem;
  line-height: 1.5;
  color: #babaf1;
}

.card {
    width: 100%;
    background-color: #4d5186f5;
    border-radius: 4px;
    padding: 20px;
    margin-top: 10px;
    display: flex;
    gap: 20px;
    align-items: center;
    box-shadow: 0 4px 10px rgba(129, 122, 228, 0.3);
    max-width: 1000px;
}

.hero-text{
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 30px;
  background-size: cover;
  background-position: center;
  background-image: url(darklightweb.jpg);
  text-align: center;
  line-height: 2;
}

.section-header {
  width: 50%;
  background-color: #5d67f385;
  color: #ffffff;
  text-align: center;
  padding: 16px;
  font-size: 1.5rem;
  letter-spacing: 1px;
  border-radius: 4px;
  margin-top: 10px;
}

.section-header.blue {
    background-color: #7287bf;
}

/* Content Blocks */
.media-img {
    width: 220px;
    height: 180px;
    object-fit: cover;
    border-radius: 2px;
}

.info-text {
    font-size: 0.82rem;
    color: #d0d0f1;
    display: grid;
    place-content: center;
    max-width: 500px;
    margin-inline: auto;
}


.interests-block {
    width: 100%;
    background: linear-gradient(to bottom, #53c1dd00 0%, #3455c0 70%);
    padding: 40px 30px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.content-block {
    width: 100%;
    background-color: #2a2952;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.interests-text {
    font-size: 0.85rem;
    line-height: 1.6;
    max-width: 550px;
    color: #cecece;
}

.divider {
    width: 70%;
    height: 2px;
    background-color: #5c7893;
    margin-top: 30px;
    border: none;
}

.footer{
    background-color: rgb(94, 103, 233);
    color: rgb(255, 255, 255);
    padding: 3em 3em;
}
.footer p{
    text-align: right;
}

